[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "DEGRE"]
	path = DEGRE
	url = https://github.com/cran/DEGRE
	shallow = true
	registered = true
